$color-primero: rgba(255, 255, 255, 0.89);
$color-segundo:rgba(0, 0, 0, .8);
$color-tercero: #000;
$color-cuarto: rgba(255, 255, 255, .3);
$color-quinto: #fff;
$color-sexto: orange;
$color-septimo: #343D58;
$color-octavo: rgba(123, 233, 242, .9);